header > #header_main{
    display: flex;
    justify-content: center;
    gap: 7vw;

    padding: 30px;
    font-size: 1.7vw;

    background-color: var(--xiketic);
    color: var(--lavender_web);

    cursor: pointer;
}
header > #header_main > *{
    display: flex;
    gap: 10px;

    font-family: 'Kanit';
}

header > nav > div{
    display: flex;
    justify-content: center;
    gap: 2vw;

    font-size: 160%;

    padding: 20px;

    background-color: var(--phthalo_blue);
}
header > nav > div >*{
    text-decoration: none;
    font-family: 'Kanit';

    color: var(--lavender_web);
    border-bottom: 1px solid #ffffff00;
}
header > nav > div > *:hover{
    border-bottom: 1px solid var(--lavender_web);
}

#log_out{
    /* transition: 0.3s; */

    position: fixed;
    bottom: 10px;
    right: 10px;

    background-color: var(--phthalo_blue);
    color: var(--lavender_web);
    padding: 5px;
    border-radius: 5px;

    z-index: 99;

    font-size: 140%;

    cursor: pointer;
}
#log_out:hover{
    transition: 0.5s;

    background-color: var(--pink_blue);
}