@import './default/reset.css';
@import './default/fonts.css';
@import './default/palette.css';


@import './header_footer/header.css';
@import './header_footer/footer.css';

/*------*/
/*-404--*/
/*------*/

main{
    background-color: var(--lavender_web);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 40vw;
}

main > .img_error{
    width: 40vw;
}

main > h2{
    color: var(--xiketic);

    font-size: 2.1vw;
    font-family: 'Kanit-bold';
    font-weight: bold;

    margin: 3vh 0px;
}

main > button{
    transition: 0.5s;

    width: 21vw;

    color: var(--lavender_web);
    background-color: var(--phthalo_blue);
    box-shadow: 0px 0px 10px 5px var(--lavender_web2);

    font-size: 1.8vw;
    font-weight: bold;
    font-family: 'Kanit';
    line-height: 95%;

    margin: 1.3vh 0px;
    padding: 21px 0px;
    border: 0px;
    border-radius: 25px 10px;
}
main > button:hover{
    transition: 0.5s;

    box-shadow: 0px 0px 10px 15px var(--lavender_web2);
}