@import './default/reset.css';
@import './default/fonts.css';
@import './default/palette.css';


@import './header_footer/header.css';
@import './header_footer/footer.css';


/*-----------------*/
/*-----------------*/
/*-----------------*/

h1{
    font-family: 'Kanit-bold';
    font-size: 250%;
}

p{
    font-family: 'Kanit-bold';
    font-size: 160%;
}

input{
    height: 60px;
    width: 100%;

    margin-right: 50px;

    background-color: #a091e47a;
    color: var(--xiketic);

	border-bottom: 2px var(--xiketic) solid;

	font-size: 150%;
}

input[type="text"][disabled] , textarea[disabled]{
    color: var(--phthalo_blue) !important;
}

#title{
    margin-bottom: 80px;
}

/*--------*/
/*--lock--*/
/*--------*/

.f_name_lock, .l_name_lock{
    position: absolute;

    top: 5px;
    right: 0px;
}

.email_lock, .phone_lock, .address_lock{
    position: absolute;

    top: 5px;
    right: 40%;
}


/*--------*/
/*--name--*/
/*--------*/

#name_div{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 50px;
}

.f_name_div{
    position: relative;
}
.f_name{
    position: absolute;
    top: -30px;
}

.l_name_div{
    position: relative;
}
.l_name{
    position: absolute;
    
    top: -30px;
}

/*---------*/
/*--email--*/
/*---------*/

#email_div{
    position: relative;
    
    margin-top: 70px;
}

.email{
    position: absolute;
    top: -30px;
}

#email_inp{
    width: 60%;
}

/*---------*/
/*--phone--*/
/*---------*/

#phone_div{
    position: relative;

    margin-top: 70px;
}

.phone{
    position: absolute;
    top: -30px;
}

#phone_inp{
    width: 60%;
}

/*-----------*/
/*--address--*/
/*-----------*/

#address_div{
    position: relative;

    margin-top: 70px;
}

.address{
    position: absolute;
    top: -30px;
}

#address_inp{
    width: 60%;

    background-color: #a091e47a;

	border-bottom: 2px var(--xiketic) solid;

	font-size: 200%;
}

/*-------------*/
/*--edit_save--*/
/*-------------*/

#edit{
    margin-top: 10px;
}

#edit_save{
    display: inline;

    color: var(--medium_blue);

    font-family: 'Kanit-bold';
    font-size: 120%;

    cursor: pointer;
}
#edit_save:hover{
    color: var(--xiketic);
}

#delate{
    display: inline;

    margin-right: 10px;

    color: var(--medium_blue);

    font-family: 'Kanit-bold';
    font-size: 120%;

    cursor: pointer;
}
#delate:hover{
    color: var(--xiketic);
}

/*---------*/
/*--phone--*/
/*---------*/   

@media only screen and (max-width: 768px){
    #name_div{
        display: flex;
        flex-direction: column;
    }
    .f_name_div{
        margin-bottom: 35px;
    }

    #email_inp, #phone_inp, #address_inp{
        width: 100%;
    }

    .email_lock, .phone_lock, .address_lock{
        position: absolute;
    
        top: 5px;
        right: 5px;
    }
}