@import './default/reset.css';
@import './default/fonts.css';
@import './default/palette.css';


@import './header_footer/header.css';
@import './header_footer/footer.css';

main{
    padding: 0vh 0vw;
}
main > .main{
    padding: 0vh 8vw;
}

/*
    clamp(min,avg,max);
*/

/*----------*/
/*---main---*/
/*----------*/

h2.title{
    text-align: center;
    color: var(--xiketic);

    margin-top: 7vh;
    margin-bottom: 2vh;

    font-size: 4.5vw;
    font-family: 'Kanit';
}

/*---------*/
/*--title--*/
/*---------*/

.title{
    position: relative;
}

.title > img{
    width: 100%;
}

.title_inf{
    width: 50vw;

    position: absolute;
    top: 15%;
    left: 10%;
}

.title > .title_inf > .slogan > h1{
    color: var(--lavender_web);
    text-shadow: 5px 5px 8px #000b8283;
    
    margin-bottom: 0.3vh;

    font-size: 8vw;
    font-family: 'Graffiti';
}
.title > .title_inf > .slogan{
    margin: 0.7vh;
}

.title > .title_inf > a{
    transition: 0.7s;
    background-color: var(--lavender_web);
    color: var(--xiketic);
    text-decoration: none;

    font-family: 'Graffiti';
    font-size: 5vw;

    margin: 0.1vh;
    /* margin-left: 0.7vh; */
    padding: 1vh 2vw 1vh 2vw;
    border: none;
    border-radius: 15px;

    cursor: pointer;
}

.title > .title_inf > a:hover  {
    transition: 0.7s;
    background-color: var(--pink_blue2);
    box-shadow: 3px 3px 15px 15px #0000ff80;
}

/*-------------*/
/*---genders---*/
/*-------------*/

#genders{
    margin: 50px 0px;

    width: 83vw;
    height: 35vw;
    /* height: clamp(300px,50vh,50vh); */

    position: relative;
}

.men > .shape{
    
    transition: 0.5s;

    background-image: url('../images/man.webp');
    background-repeat: no-repeat;
    background-size: 27vw;

    height: 100%;
    width: 64%;

    background-color: var(--phthalo_blue);

    clip-path: polygon(100% 0%, 100% 0%, 50% 100%, 0% 100%, 0% 0%);

    position: absolute;
    top: 0%;
    left: 0%;

    cursor: pointer;
}

.men > .shape > h1{
    position: absolute;
    top: 72%;
    left: 1vw;

    transition: 0.4s;
    color: var(--xiketic);
    text-decoration: none;

    font-family: 'Kanit';
    font-size: 3.7vw;
    text-shadow: 3px 3px 20px var(--oxford_blue2);

    margin: 0.1vh;
    margin-left: 0.7vh;
    padding: 1vh 2vw 1vh 2vw;
}
.men > .shape:hover ,h1{
    transition: 0.5s;
    transform: scale(1.04);
}

.women > .shape{
    transition: 0.5s;

    background-image: url('../images/woman.webp');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 27vw;

    height: 100%;
    width: 64%;

    background-color: var(--pink_blue);

    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0% 100%, 50% 0%);

    position: absolute;
    top: 0%;
    right: 0%;

    cursor: pointer;
}
.women> .shape > h1{
    position: absolute;
    top: 72%;
    right: 1vw;

    transition: 0.4s;
    color: var(--xiketic);
    text-decoration: none;

    font-family: 'Kanit';
    font-size: 3.7vw;
    text-shadow: 3px 3px 20px var(--oxford_blue2);

    margin: 0.1vh;
    margin-left: 0.7vh;
    padding: 1vh 2vw 1vh 2vw;
}
.women > .shape:hover ,h1{
    transition: 0.5s;
    transform: scale(1.04);
}

/*---------------*/
/*--collections--*/
/*---------------*/

#collections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collection{
    text-decoration: none;
}
    
.img_container{
    position: relative;
    overflow: hidden;

    width: 20vw;
}
  
.img_container img{
    width: 100%;
    -moz-transition:all .8s;-webkit-transition:all .8s;transition:all .8s;
}
.img_container:hover img{
    max-height:100%;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);  
}



.collection_name{
    font-size: 1.3vw;
    font-family: 'Kanit';
    
    color: var(--xiketic);
    
    text-align: center;
}

/*------------------*/
/*--custom_designs--*/
/*------------------*/

#custom_designs_main{
    margin: 50px 0px;
    padding: 0vh 8vw;

    position: relative;

    background: rgb(0,2,20);
    background: linear-gradient(55deg,  rgba(0,2,20,1) 0%, rgba(55,22,202,1) 100%);
    background-position: bottom left;
}

#custom_designs_main > .container{
    width: 100%;
}

#custom_designs_main > .container > img{
    height: 100%;
    width: 100%;
}

#custom_designs_main > .container > .text_container{
    position: absolute;
    top: 20%;
    right: 2%;

    width: 40%;
}

#custom_designs_main > .container > .text_container > h2{
    font-size: 5vw;
    font-family: 'Graffiti';

    height: auto;

    margin-bottom: 1vw;
    max-width: 99%;
    
    color: var(--lavender_web);
    text-shadow: 0px 0px 8px #a091e494;
}

#custom_designs_main > .container > .text_container > a{
    transition: 0.7s;

    padding: 0.5vh 1.5vw;

    border-radius: 15px;

    font-family: 'Graffiti';
    font-size: 4vw;

    background-color: var(--lavender_web);
    color: var(--oxford_blue);

    text-decoration: none;
}
#custom_designs_main > .container > .text_container > a:hover{
    transition: 0.7s;
    background-color: var(--pink_blue2);
    box-shadow: 3px 3px 15px 15px #0000ff80;
}

/*-----------------*/
/*--best_products--*/
/*-----------------*/

#best_products{
    margin-bottom: 100px;
}

#best_products > a > .view_more{
    text-align: center;
}

#best_products > a > .view_more > p{
    display: inline;

    color: var(--xiketic);
    font-size: 1.9vw;
    font-family: 'Kanit';

    position: relative;
}
#best_products > a > .view_more > p::before{
    content: "";
    display: block;
    width: 20vw;
    height: 1.5px;
    background: var(--xiketic);
    left: 105%;
    top: 55%;
    position: absolute;
}
#best_products > a > .view_more > p::after{
    content: "";
    display: block;
    width: 20vw;
    height: 1.5px;
    background: var(--xiketic);
    right: 105%;
    top: 55%;
    position: absolute;
}

#inner_best_products{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    row-gap: 30px;

    margin-bottom: 30px;
}

.best_product{
    text-decoration: none;

    width: auto;
}

.best_product > .img_container{
    position: relative;
    overflow: hidden;

    align-items: center;
}

.best_product > .img_container > img{
    width: 100%;

    -moz-transition:all .8s;-webkit-transition:all .8s;transition:all .8s;
}

.best_product:hover > .img_container > img{
    max-height:100%;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);  
}

.best_product > .best_product_name{
    color: var(--xiketic);    
    font-family: 'Kanit';

    justify-content: left;

    padding: 3px 0px;
}

.best_product > .best_product_name > *{
    padding: 2px 0px;
}
.best_product > .best_product_name > .name{
    font-size: 1.3vw;
}
.best_product > .best_product_name > .price{
    font-size: 1vw;
}

/*---------*/
/*--phone--*/
/*---------*/   

@media only screen and (max-width: 768px){
    /* title */
    
    .title > .title_inf > .slogan > h1{
        margin-bottom: 0vh;
    }
    .title > .title_inf > .slogan{
        margin: 0vh;
    }

    .title > .title_inf > button{
        padding: 0.4vh 2vw 0.4vh 2vw;
    }

    /* collections */

    #collections{
        flex-wrap: nowrap;

        padding-bottom: 5px;

        overflow-x: scroll;
        overflow-y: hidden;
    }

    #collections > a{
        margin-right: 3vw;
    }
    #collections > a:last-child{
        margin-right: 0vw;
    }

    .img_container{
        position: relative;
        overflow: hidden;
    
        width: 32vw;
    }
    .collection_name{
        font-size: 3.3vw;
    }

    #collections::-webkit-scrollbar {
        height: 6px;
    }
    #collections::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;  
    }
       
    #collections::-webkit-scrollbar-thumb {
        background: var(--medium_blue); 
    }

    /* best products */

    #best_products > a > .view_more > p{
        font-size: 3.3vw;
    }

    #inner_best_products{
        display: flex;
        flex-wrap: nowrap;

        padding-bottom: 5px;

        overflow-x: scroll;
        overflow-y: hidden;
    }

    #inner_best_products > a{
        margin: 0px 5px;
    }

    .best_product > .best_product_name > .name , .best_product > .best_product_name > .price{
        font-size: 3.3vw;
    }

    #inner_best_products::-webkit-scrollbar {
        height: 6px;
    }
    #inner_best_products::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: padding-box;  
    }
       
    #inner_best_products::-webkit-scrollbar-thumb {
        background: var(--medium_blue); 
    }
}