@import './default/reset.css';
@import './default/fonts.css';
@import './default/palette.css';


@import './header_footer/header.css';
@import './header_footer/footer.css';

/*-----------------*/
/*-----------------*/
/*-----------------*/

main{
    line-height: 1.1;
}

/*--------*/
/*--info--*/
/*--------*/

#info{
    width: 80%;
}

#info > p{
    line-height: 1.3;

    padding-top: 40px;

    text-align: left;

    color: var(--xiketic);
    font-size: 160%;
    font-family: 'Kanit-bold';
}

/*--------------*/
/*--contact_us--*/
/*--------------*/

#contact_us{
    display: grid;

    grid-template-columns: 50% auto;
    column-gap: 5%;
}

form > .name{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 15%;

    margin-bottom: 50px;
}

form > .name input{
    height: 60px;
    width: 20vw;

    z-index: 10;

    background-color: var(--lavender_web);

	border-bottom: 1px var(--xiketic) solid;

	font-size: 150%;
}

.f_name_div{
    position: relative;
}
form > .name .f_name{
    pointer-events: none;

    position: absolute;
    top: 35%;
    left: 0px;

    font-size: 130%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);

    margin-left: 5px;
}

.l_name_div{
    position: relative;
}
form > .name .l_name{
    pointer-events: none;

    position: absolute;
    top: 35%;
    left: 0px;

    font-size: 130%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);

    margin-left: 5px;
}

form > .email_div{
    position: relative;

    margin-bottom: 50px;
}

form > .email_div > input{
    height: 60px;
    width: 60%;

    z-index: 10;

    background-color: var(--lavender_web);

	border-bottom: 1px var(--xiketic) solid;

	font-size: 150%;
}

form > .email_div > .email{
    pointer-events: none;

    position: absolute;
    top: 35%;
    left: 0px;

    font-size: 130%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);

    margin-left: 5px;
}

form > .message_div{
    position: relative;

    margin-bottom: 50px;
}

form > .message_div > textarea{
    height: 250px;
    width: 100%;

    z-index: 10;

    background-color: var(--lavender_web);

	border-bottom: 1px var(--xiketic) solid;
    /* border-left: 1px var(--xiketic) solid;
    border-bottom-left-radius: 5px; */

	font-size: 150%;
}

form > .message_div > .message{
    pointer-events: none;

    position: absolute;
    top: 4%;
    left: 0px;

    font-size: 130%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);

    margin-left: 5px;
}

form > .submit{
    transition: 0.4s;

    padding: 15px 40px;
    font-size: 220%;
    font-family: 'Kanit-bold';

    border: none;
    border-radius: 0px 20px 20px 20px;
    background-color: var(--oxford_blue);
    color: var(--lavender_web);
    box-shadow: 0px 0px 4px 4px #0000ff45;
}

form > .submit:hover{
    transition: 0.4s;

    background-color: var(--phthalo_blue);
    box-shadow: 0px 0px 10px 10px #0000ff45;
}

.contact_us_info{
    padding-top: 10%;
    margin-left: 5%;

    color: var(--xiketic);
}

.contact_us_info > h1{
    font-family: 'Kanit-bold';
    font-size: 400%;
    font-weight: bold;
}

.contact_us_info > .p_contemner{
    width: 60%;
}

.contact_us_info > .p_contemner > p{
    font-family: 'Kanit-bold';
    font-size: 140%;
    font-weight: lighter;
}

.custer_link{
    color: var(--oxford_blue);
}
.custer_link:hover{
    color: var(--pink_blue);
}

/*------------*/
/*--shipping--*/
/*------------*/

#shipping{
    width: 70%;
}

#shipping > h1{
    color: var(--xiketic);
    font-family: 'Kanit-bold';
    font-size: 250%;

    margin: 10px 0px;
}

#shipping > p{
    margin-bottom: 5px;

    color: var(--xiketic);
    font-family: 'Kanit-bold';
    font-size: 130%;
    font-weight: lighter;
}

/*------------*/
/*--policies--*/
/*------------*/

#policies{
    width: 70%;
}

#policies h1{
    color: var(--xiketic);
    font-family: 'Kanit-bold';
    font-size: 250%;

    margin: 10px 0px;
}

#policies p{
    margin-bottom: 5px;

    color: var(--xiketic);
    font-family: 'Kanit-bold';
    font-size: 130%;
    font-weight: lighter;
}

/*-------------*/
/*--important--*/
/*-------------*/

.important{
    margin-top: 15px !important;
    color: red !important;
    font-family: 'Kanit-bold' !important;
    font-size: 150% !important;
    font-weight: normal !important;
}

/*---------*/
/*--phone--*/
/*---------*/   

@media only screen and (max-width: 768px){
    #contact_us{
        grid-template-columns:  auto;
    }
    form > .name{
        grid-template-columns: auto;
    }
    form > .name input, form > .email_div > input{
        width: 100%;
    }
}