@import './default/reset.css';
@import './default/fonts.css';
@import './default/palette.css';


@import './header_footer/header.css';
@import './header_footer/footer.css';

main{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*----------*/
/*--filter--*/
/*----------*/

#filter{
    color: #3716cab4;
    font-size: 1.5vw;
    font-family: 'Kanit-bold';

    margin: 0px 0px 3vh 1vw;
}

/*------------*/
/*--products--*/
/*------------*/

#product_container{
    margin-bottom: 100px;
}

#product_container > a > .view_more{
    text-align: center;
}

#product_container > a > .view_more > p{
    display: inline;

    color: var(--xiketic);
    font-size: 1.3vw;
    font-family: 'Kanit';

    position: relative;
}
#product_container > a > .view_more > p::before{
    content: "";
    display: block;
    width: 20vw;
    height: 1.5px;
    background: var(--xiketic);
    left: 105%;
    top: 55%;
    position: absolute;
}
#product_container > a > .view_more > p::after{
    content: "";
    display: block;
    width: 20vw;
    height: 1.5px;
    background: var(--xiketic);
    right: 105%;
    top: 55%;
    position: absolute;
}

#product_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 30px;

    margin-bottom: 30px;
}

.product{
    text-decoration: none;

    width: auto;
}

.product > .img_container{
    position: relative;
    overflow: hidden;

    align-items: center;
}

.product > .img_container > img{
    width: 19vmax;
    height: 30vmax;

    -moz-transition:all .8s;-webkit-transition:all .8s;transition:all .8s;
}

.product:hover > .img_container > img{
    max-height:100%;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);  
}

.product > .product_name{
    color: var(--xiketic);    
    font-family: 'Kanit';

    justify-content: left;

    padding: 3px 0px;
}

.product > .product_name > *{
    padding: 2px 0px;
}
.product > .product_name > .name{
    font-size: 1.3vw;
}
.product > .product_name > .price{
    font-size: 1vw;
}

/*---------*/
/*--pages--*/
/*---------*/

.control_pages{
    display: flex;
    justify-content: flex-end;
    font-size: 130%;
}
.control_pages *{
    margin: 0px 1px;
}

#page_count{
    align-items: center;
}

#next_page , #previous_page{
    cursor: pointer;
}

/*---------*/
/*--phone--*/
/*---------*/   

@media only screen and (max-width: 768px){
    #product_container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 4vw;
        justify-content: center;
    }

    .product > .img_container > .product_img{
        width: 28vh;
        height: 45vh;
    }

    .product > .product_name > .name{
        font-size: 3.9vw;
    }
    .product > .product_name > .price{
        font-size: 3vw;
    }

    #filter{
        font-size: 3vw;
    }
}