/*---------------*/
/*--main header--*/
/*---------------*/
header > .main{
    padding: 0vh 8vw;

    display: grid;
    grid-template-columns: auto auto;

    background-color: var(--xiketic);
    color: var(--lavender_web);

}

header > .main > .logo{
    text-align: start;
}
header > .main > .logo img{
    height: 70px;
    margin: 10px 0px 10px 0px;
}


header > .main  > .icons{
    display: flex;
    justify-content: flex-end;
    margin: auto 0px auto 0px;
}
.fa-cart-shopping , .fa-user{
    margin: 0.5vw;

    font-size: 150%;

    color: var(--lavender_web);

    padding: 5px 0px;
    border-bottom: 2px solid #ffffff00;
}

header > .main > .icons .fa-user{
    transition: 0.3s;   
}

header > .main > .icons .fa-user:hover{
    transition: 0.1s;
    border-bottom: 2px solid var(--lavender_web);
}

header > .main > .icons .fa-bars{
    display: none;

    margin: 0.5vw;

    font-size: 150%;

    color: var(--lavender_web);

    padding: 5px 0px;
    border-bottom: 2px solid #ffffff00;
}

.cart{
    position: relative;
}

.cart .cart_menu{
    width: 320px;

    background-color: var(--lavender_web);

    z-index: 1;
    position: absolute;
    top: 45px;
    right: 0px;

    border: 3px solid var(--xiketic);

    display: none;
}

.cart .cart_menu{
    padding: 15px 30px;
    border-radius: 5px;
}

.cart .cart_menu > p{
    text-align: center;

    border-bottom: 1.7px solid var(--xiketic);
    margin-bottom: 10px;
    padding-bottom: 5px;
    
    color: hsla(234, 100%, 4%, 0.75);
    font-size: 120%;
    font-weight: normal;
    font-family: 'Kanit-bold';
}

.cart:hover .cart_menu{
    display: block;
}

.cart_menu > button{
    transition: 0.5s;

    cursor: pointer;

    background-color: var(--medium_blue);
    color: var(--lavender_web);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 255, .3);
    font-size: 100%;
    font-weight: normal;
    font-family: 'Kanit-bold';
    text-decoration: none;

    padding: 5px;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    border: none;

    width: 100%;
}

.cart_menu > button:hover{
    transition: 0.4s;
    background-color: var(--phthalo_blue);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 255, .3);
}

#inner_cart{
    width: 300px;
    min-height: 500px;

    color: var(--xiketic);

    min-height: fit-content;
}

.inner_item{
    display: grid;
    grid-template-columns: 80% auto;

    margin: 5px 10px 7px 10px;
}
.inner_item > .inner_item_info{
    display: flex;
    text-decoration: none;

    cursor: pointer;
}
.inner_item > .inner_item_info > .inner_item_img{
    width: 40px;

    border-radius: 5px;
    /* border: 1.5px solid var(--phthalo_blue); */
    margin-right: 5px;
}
.inner_item > .inner_item_info > .inner_item_name{
    color: hsla(234, 100%, 4%, 0.80);

    align-self: center;
    margin-right: 3px;
    padding-bottom: 5px;


    font-size: 90%;
    font-weight: normal;
    font-family: 'Kanit';
}
.inner_item > .inner_item_info > .inner_item_price{
    color: hsla(234, 100%, 4%, 0.80);

    align-self: center;

    padding-bottom: 5px;

    font-family: 'Kanit';
    font-size: 90%;
    font-weight: normal;

    font-family: 'Times New Roman', Times, serif;
}

.count{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    max-width: 70%;
    max-height: 40%;

    padding: 8px 7px;
    border: 1.5px solid var(--xiketic);
    border-radius: 5px;
    /* margin-left: 30px; */

    background-color: hsla(234, 100%, 12%, 0.15);

    font-size: 70%;
    height: 90%;
}

.count > *{
    margin: 0px 5px;
}

.count > i{
    color: var(--xiketic);
    cursor: pointer;
}
.count > .inner_item_count{
    font-weight: normal !important;
    font-size: 130%;
}

/*--------------*/
/*--nav header--*/
/*--------------*/
nav{
    padding: 2vh 0vw 2vh 0vw;

    background-color: var(--oxford_blue);

    text-align: center;
}

nav > a{
    display: inline-block;
    font-size: 130%;
    text-decoration: none;

    padding: 3px 10px 3px 10px;

    color: var(--lavender_web);
}

nav > a{
    border-bottom: 1.5px solid #ffffff00;

}

nav > a:hover{
    border-bottom: 1.5px solid var(--lavender_web);
}

nav > #custom_designs{
    color: var(--lavender_web2) !important; 
}

/*---------*/
/*--phone--*/
/*---------*/

@media only screen and (max-width: 768px) {
    /* main */

    header > .main > .logo img{
        height: 16vw;
    }

    .fa-cart-shopping, .fa-user{
        font-size: 5vw;
        margin-right: 5px;
    }

    header > .main > .icons #menu_icn{
        display: block;
        font-size: 5vw;
    }

    /* nav */

    nav{
        display: none;
    }
    nav > a{
        display: block;
        margin-bottom: 5px;
    }
    nav > a:last-child{
        margin-bottom: 0px;
    }

    .cart_menu{
        display: none !important;
    }
}