@font-face {
    font-family: "Graffiti";
    src: url("../fonts/adrip1.ttf");
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Light.ttf");
}
@font-face {
    font-family: "Kanit-bold";
    src: url("../fonts/Kanit.ttf");
}