:root{
    --oxford_blue: #00063D;
    --medium_blue: #3716CA;
    --xiketic: #000214;
    --phthalo_blue: #000B82;
    --pink_blue: #431DD7;
    --lavender_web: #F0EDFD;

    --pink_blue2: #6d4afa;
    --lavender_web2: #a091e4;
    --oxford_blue2: #363e77;
}